* {
    box-sizing: border-box;
    margin: 10px 10px;
    padding: 10px 10px;
}

.body {
    height: 400px;
}

.box {
    width: 900px;
    height: 900px;
    border: 10px solid rgb(0, 0, 0);
    position: relative;
}

.ball {
    animation-name: myball;
    animation-duration: 3s;
    position: absolute;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    left: -20px;
}

@keyframes myball {
    0% {
        left: -20px;
        top: 0px;
    }
    10% {
        left: 80px;
        top: 728px;
    }
    15% {
        left: 170px;
        top: -15px;
    }
    20% {
        left: 240px;
        top: 728px;
        transform: scaleX( 0.9);
        transform: rotate(5deg);
    }
    30% {
        left: 340px;
        top: -20px;
        transform: scaleX( 1.2);
    }
    40% {
        left: 650px;
        top: 725px;
        transform: rotate(-5deg);
    }
    50% {
        left: 726.1px;
        top: 450px;
    }
    60% {
        left: 500px;
        top: 725px;
        transform: rotate(-5deg);
    }
    70% {
        left: 340px;
        top: -15px;
        transform: scaleX( 1);
    }
    80% {
        left: 240px;
        top: 725px;
    }
    90% {
        left: 0px;
        top: -20px;
    }
    100% {
        left: -20px;
        top: 0px;
    }
}